
.btn-recipe:hover{
  color: white;
  background-color: #6b96bb;
}

.btn-recipe{
  position: relative;
  color: white;
  white-space: normal;
  background-color: #6886b4;
  padding-left: 65px;
  padding-right: 65px;
  margin-bottom: 15px;
  min-height: 62px;
  vertical-align: middle;
  width: 100%;

}

.btn-recipe-panel-left{
  position:absolute;
  left: 0;
  top:0;
  background-color: #55729c;
  height: 100%;
  width: 60px;
  border-radius: .25rem;
}

.btn-recipe-panel-right{
  position:absolute;
  right: 0;
  top:0;
  background-color: #55729c;
  height: 100%;
  width: 60px;
  border-radius: .25rem;

}

.btn-recipe-panel img{
  height: 100%;
}
