
ul.recipe-bullet {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0.7em;
}

.recipe{
  margin-bottom: 2rem;
  min-height: 10rem;
}

.recipe h4{
  font-size: 16px;
  margin-bottom: 4px;
}

.recipe-thumb{
  height:10rem;
  float:left;
  margin-right: 0.2rem;
}

.recipe-thumb img{
  height: 10rem;
}
